label {
    text-transform: capitalize;
}

tbody {
    font-weight: bold;
}

tr:not("thead") {
    background-color: whitesmoke;
}

#bsOverrides thead {
    text-transform: capitalize;
    background-color: #37475a !important;
    color: whitesmoke;
}

#bsOverrides .card {
    margin: 1rem;
}

#bsOverrides .card.side,
#bsOverrides .card.side * {
    border-radius: 0 !important;
}

#bsOverrides .navbar.navbar-dark.bg-dark {
    background-color: #37475a !important;
}

#bsOverrides .nav-tabs {

    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-link-hover-border-color: #ffffff #ffffff #e0b700;
    --bs-nav-tabs-link-active-color: #1a1a1a;
    --bs-nav-tabs-link-active-bg: #fff;
    --bs-nav-tabs-link-active-border-color: #ffffff #ffffff #e0b700;
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
    color: #6d6d6d;
}

#bsOverrides .nav-tabs .nav-link {
    text-transform: capitalize;
    color: #6d6d6d;
}

#bsOverrides .nav-tabs .nav-link.active {
    color: #181818;
    font-weight: bold;
}

#bsOverrides .tab-content {
    background-color: whitesmoke;
}


.svg-inline--fa {
    margin-inline: 4px;
    opacity: 0.9;
}

.svg-inline--fa:hover {
    cursor: pointer;
    opacity: 1;

}